<div class="container mt-5 ms-4">
    <h1 class="mb-3" >Add store page implementation</h1>
    <p class="me-5" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime inventore saepe non doloribus doloremque? Tempore nesciunt aut, molestiae itaque aliquid eius minima maiores beatae doloremque, repellendus nihil facilis ad voluptas adipisci sunt. Ipsam voluptate quia quo quibusdam sequi delectus velit, architecto eius quisquam labore mollitia ut, repudiandae voluptatibus molestiae quam dicta voluptatum cumque, minus illum ipsum eveniet molestias! Earum distinctio explicabo voluptate sed ratione. Incidunt suscipit explicabo harum quod debitis facere, reiciendis totam fugit voluptatum a earum possimus hic iure doloribus laboriosam, natus obcaecati sequi sint.</p>
</div>

